{% extends 'index.twig' %}

{% block catalog %}
    {% for webm in webms %}
        <a href={{ path('webm', {'catalog': webm.getCatalog(), 'wwebm' : webm.getLinkName()}) }}><button class="btn btn-prev"><img src="{{ app.request.basepath}}/{{ webm.getPreviewPath() }}"></button></a>
    {% endfor %}
{% endblock %}

{% block webm %}

{% endblock %}