{% extends 'index.twig' %}

{% block catalog %}
    {% for webm in lastWebms %}
        <a href={{ path('newWebm', {'webm' : webm.getLinkName()}) }}><button class="btn btn-prev"><img src="{{ app.request.basepath}}/{{ webm.getPreviewPath() }}"></button></a>
    {% endfor %}
{% endblock %}

{% block webm %}

{% endblock %}
